---
- name: Import Ansible Posix Playbook
  ansible.builtin.import_playbook: ansible-posix.yaml

- name: Tmux and Utilities Setup
  hosts: localhost
  gather_facts: true

  vars:
    tmux_config_patch: "{{ playbook_dir }}/../data/tmux-conf-local.patch"
    tmux_session_start_script: "{{ playbook_dir }}/../data/mux"
    tmux_session_select_script: "{{ playbook_dir }}/../data/TmuxSelect"
    tmux_environment_refresh_script: "{{ playbook_dir }}/../data/TmuxEnvRefresh"

  tasks:
    - name: Update apt cache and upgrade packages
      become: true
      ansible.builtin.apt:
        upgrade: true
        update_cache: true
      tags: privileged

    - name: Install packages
      become: true
      ansible.builtin.apt:
        name: "{{ packages }}"
      vars:
        packages:
          - tmux
      tags: privileged

    - name: Clone Oh My Tmux!
      ansible.builtin.git:
        repo: https://github.com/gpakosz/.tmux.git
        dest: "{{ ansible_env.HOME }}/.local/opt/tmux"
        update: true
      # noqa: latest

    - name: Ensure ~/.config/tmux directory
      ansible.builtin.file:
        path: "{{ ansible_env.HOME }}/.config/tmux"
        state: directory
        mode: "0755"

    - name: Create symlink for OMT! Tmux Config
      ansible.builtin.file:
        src: "{{ ansible_env.HOME }}/.local/opt/tmux/.tmux.conf"
        dest: "{{ ansible_env.HOME }}/.config/tmux/tmux.conf"
        state: link
        follow: false
        force: true

    - name: Copy Local OMT! Tmux Config
      ansible.builtin.copy:
        src: "{{ ansible_env.HOME }}/.local/opt/tmux/.tmux.conf.local"
        dest: "{{ ansible_env.HOME }}/.config/tmux/tmux.conf.local"
        mode: '0600'

    - name: Check variables
      ansible.builtin.debug:
        msg: "tmux_config_patch: {{ tmux_config_patch }}"

    - name: Apply patch to one file
      ansible.posix.patch:
        src: "{{ tmux_config_patch }}"
        dest: "{{ ansible_env.HOME }}/.config/tmux/tmux.conf.local"

    - name: Copy in Tmux session start script
      ansible.builtin.copy:
        src: "{{ tmux_session_start_script }}"
        dest: "{{ ansible_env.HOME }}/.local/bin/mux"
        mode: '0755'

    - name: Copy in Tmux session select script
      ansible.builtin.copy:
        src: "{{ tmux_session_select_script }}"
        dest: "{{ ansible_env.HOME }}/.local/bin/TmuxSelect"
        mode: '0755'

    - name: Copy in Tmux environment refresh script
      ansible.builtin.copy:
        src: "{{ tmux_environment_refresh_script }}"
        dest: "{{ ansible_env.HOME }}/.local/bin/TmuxEnvRefresh"
        mode: '0755'

